.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(237, 237, 237);
}

.settingsContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 12%;
  display: flex;
}

.settingsButtonContainer {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 4px solid black;
}

.settingsTextContainer {
  height: 100%;
  width: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsButton {
  height: auto;
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid black;
}

.settingsButtonHoverText {
  margin-top: -4px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-radius: 20px 0px 0px 20px;
}

.settingsButtonHoverTextTop {
  border-left: 4px solid black;
  border-radius: 0px 0px 0px 20px;
}

.settingsButtonHoverTextBottom {
  margin-top: -4px;
  border-left: 4px solid black;
  border-radius: 20px 0px 0px 0px;
  border-top: 4px solid black;
  border-bottom: none;
  margin-top: -4px;
}

.settingsButtonLower {
  border-top: 4px solid black;
  border-bottom: 0;
}

.settingsButton > svg {
  height: auto;
  width: 80%;
}

.settingsButton > img {
  height: auto;
  width: 65%;
  filter: drop-shadow(0px 0px 0.5px black)
          drop-shadow(0px 0px 0.5px black)
          drop-shadow(0px 0px 0.5px black)
          drop-shadow(0px 0px 0.5px black)
          drop-shadow(0px 0px 0.5px black)
          drop-shadow(0px 0px 0.4px black)
          drop-shadow(0px 0px 0.4px black)
          drop-shadow(0px 0px 0.4px black)
          drop-shadow(0px 0px 0.4px black)
          drop-shadow(0px 0px 0.4px black)
          drop-shadow(0px 0px 0.4px black);
}

.spacer {
  flex-grow: 1;
  width: 100%;
}