@font-face {
  font-family: "Liberty";
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf');
}

* {
  margin: 0px;
  padding: 0px;          
  font-family: Anta;
}

body {
  overflow: hidden;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}