* {
  margin: 0px;
  padding: 0px;          
  font-family: Anta;
  /* border: 1px solid cyan; */
}

body {
  overflow: hidden;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}